#!/bin/bash

set -euxo pipefail

LOG_FILE=$(date -u -Iseconds | cut -f1 -d+ | tr : -)
LOG_FILE_FULL={{omnilunch_host_log}}/$LOG_FILE

ln -sf $LOG_FILE {{omnilunch_host_log}}/latest

nohup podman exec {{omnilunch_cont_name}} ansible-playbook \
    -v \
    -e @{{omnilunch_cont_work}}/vars.yml \
    {% if omnilunch_tags|default('')|length > 0 %}--tags={{omnilunch_skip_tags}}{% endif %} \
    {% if omnilunch_skip_tags|default('')|length > 0 %}--skip-tags={{omnilunch_skip_tags}}{% endif %} \
    {{omnilunch_cont_root}}/{{omnilunch_playbook}} \
    &>"$LOG_FILE_FULL" \
    </dev/null &

# give some time to spawn the process before disconnecting the shell
sleep 2
