{%- for var_name, var_value in vars.items() -%}
{%- if var_name.startswith('omnilunch_') -%}
{{ { var_name: var_value } | to_nice_yaml }}
{%- endif -%}
{%- endfor -%}

{%- for var_name, var_value in vars.items() -%}
{%- if var_name.startswith('ol_') -%}
{{ { var_name: var_value } | to_nice_yaml }}
{%- endif -%}
{%- endfor -%}

{%- for var_name, var_value in vars.items() -%}
{%- if var_name.startswith('ol_raw_') -%}
{{ { var_name[7:]: var_value } | to_nice_yaml }}
{%- endif -%}
{%- endfor -%}

{%- for var_name, var_value in vars.items() -%}
{%- if var_name.startswith('olr_') -%}
{{ { var_name[4:]: var_value } | to_nice_yaml }}
{%- endif -%}
{%- endfor -%}
