#!/bin/bash

set -euo pipefail

mkdir -p {{omnilunch_host_export}}
mkdir -p {{omnilunch_host_log}}
mkdir -p {{omnilunch_host_tmp}}
mkdir -p {{omnilunch_host_work}}

if ! podman inspect {{omnilunch_cont_name}}; then
    podman run \
           --detach \
           --name {{omnilunch_cont_name}} \
           --security-opt label=disable \
           -v "{{omnilunch_host_root}}:{{omnilunch_cont_root}}:z" \
           {{omnilunch_cont_image}} \
           sleep +Inf

    if podman exec {{omnilunch_cont_name}} cat /etc/system-release-cpe | grep centos:8; then
        podman exec {{omnilunch_cont_name}} dnf -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm
        podman exec {{omnilunch_cont_name}} dnf -y install --enablerepo epel-playground ansible
    fi

    podman exec {{omnilunch_cont_name}} yum -y install {{omnilunch_cont_packages|join(' ')}}
fi

if ! podman inspect --format {%raw%}'{{.State.Status}}'{%endraw%} {{omnilunch_cont_name}} | grep -q running; then
    podman start {{omnilunch_cont_name}}
fi

if ! podman exec {{omnilunch_cont_name}} grep 'export LC_ALL' {{omnilunch_cont_home}}/.bashrc; then
    podman exec {{omnilunch_cont_name}} bash -c 'echo "export LC_ALL=C.UTF-8" >> {{omnilunch_cont_home}}/.bashrc'
fi

# prevent user processes from getting killed on ssh disconnect
loginctl enable-linger
